*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;

}

.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./imagens_login/Imagem_home.png');
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    position: absolute;
    width: 45vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    background-color: rgb(252, 251, 251);
    border-radius: 10px;
    

}

header{
    width: 45vw;
    display: flex;
    justify-content: right;
}

.login__aexit{
    margin: 0%;
    padding: 0%; 
    text-decoration: none;
}

.login__exit{
    cursor: pointer;
    display: block;
    font-size: x-large;
    color: rgb(153, 153, 153);
    margin: 1rem 1.5rem;
    
}

.login__img{
    width: 30vw;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.formulario__label{
    display: flex;
    flex-direction: column;
}

.label__spam{
    margin-top: 1rem;
}

.formulario__caixa{
    width: 38vw;
    height: 6vh;
    margin-top: 0.3rem;
    padding: 0 0.5rem;
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(192, 191, 191);
    font-size: 1rem;
}

footer{
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 5.5rem;
    margin-bottom: 1.5rem;

}

.login__botao{
    cursor: pointer;
    width: 40vw;
    height: 6vh;
    
    border: none;
    border-radius: 10px;
    background-color: rgb(105, 245, 105);

    color: white;
    font-size: medium;
}

.login__botao:hover{
    background-color: lightseagreen;
}

.login__exit:hover{
    color: red;
}

@media only screen and (max-width:650px){

    .background{
        background: none;
        
    }

    .login{
        width: 100vw;
        height: 100vh;
    }

    .login__img{
        width: 60vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    header{
        width: 100vw;
    }

    .formulario__caixa{
        width: 85vw;
    }
    
    footer{
        width: 100vw;
    }
    
    .login__botao{
        width: 90vw;
    }
}
